
.ant-menu.ant-menu-dark .ant-menu-item-selected {
    border-right: 5px solid white !important;
    transition: 0.5s;
}
.ant-layout-content {
    background: #f5f5f5 !important;
    padding:15px;
}
.ant-layout-footer {
    padding: 15px !important;
}
.ant-layout {
    background: white;
}